@font-face {
    font-family: 'playfairdisplay';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'playfairdisplay';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'playfairdisplay';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'playfairdisplay';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@-ms-viewport{
  width: device-width;
}

*{
  box-sizing: border-box
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

body{
  font-size: 16px;
  font-family: 'raleway';
  font-weight: lighter;
}

.header-pics img {
  height: 65px;
  padding: 0px 10px;
}

.header-pics {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 0px 15px 0px;
}

.header-menu {
  justify-content: center;
  border-top: 2px solid #d7d7d7;
  padding: 20px 0px;
  flex: 1 2 90%;
  display: flex;
  font-family: 'raleway';
  font-weight: lighter;
  color: #e2574c;
  letter-spacing: .5px;
  font-weight: bold;
}

.nav ul{
  padding-left: none;
}

header a{
  color: #e2574c;
  text-decoration: none;
}

header a:hover {
  color: #b64036;
}

header ul li {
  display: inline-block;
  padding: 0 1rem;
}

.container{
  /*max-width: 480px;*/
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
}

.hero {
  display: flex;
  text-align: center;
  height: 525px;
  background-image: linear-gradient(rgba(0,130,170,.15),rgba(0,130,170,.15)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 0, center 80px, 239px 0px;
  background-size: auto auto, auto 480px, auto 525px;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
}

.hero h3 {
  color: white;
  font-family: "raleway";
  font-weight: bold;
  font-size: italic;
  font-size: 1.4rem;
  text-shadow: 2px 2px 4px grey;
}

.hero h1 {
  color: white;
  font-family: 'playfairdisplay';
  font-weight: lighter;
  font-size: 3rem;
  padding: 0 3rem;
  margin: 0;
  text-shadow: 2px 2px 4px grey;
}

h2 {
  font-family: 'playfairdisplay';
  font-size: 3.1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  color: #969696;
}

.tag {
  text-align: center;
  line-height: 2.5em;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag h2 {
  padding-bottom: 2rem;
}

.tag p{
  font-size: 1.3rem;
}

.category-box ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.category-box li{
  display: inline-block;
  text-align: center;
  font-family: 'raleway';
  font-weight: bold;
  font-size: 2rem;
  color: #969696;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: white 2px solid;
  background-repeat: no-repeat;
  flex: 0 0 50%;
  background-size: 100% auto;
  background-position: center;
  height: 0;
  padding: 24% 0;
  text-shadow: 2px 2px 4px grey;  
}

.category-box a{
  color: white;
  text-decoration: none;
}

.category-box .rectangle {
  width: 100%;
  flex: 0 0 100%;
}

.mens {
  background-image: url(../images/mens-category.jpg);
}

.trends {
  background-image: url(../images/trends-category.jpg);
}

.glasses {
  background-image: url(../images/glasses-category.jpg);
}

.sale {
  background-image: url(../images/sale-category.jpg);
}

.bags{
  background-image: url(../images/bags-category.jpg);
}

.womens {
  background-image: url(../images/womens-category.jpg);
}

#featured {
  height: 800px;
}

#featured h2 {
  padding: 70px 0px;
  font-weight: lighter;
}

.category {
  font-size: 0.9rem;
  color: #969696;
  font-family: 'raleway';
  font-weight: bold;
  padding: 20px 0px;
}

.name a{
  color: #e2574c;
  font-family: "playfairdisplay";
  text-decoration: none;
  font-weight: 200px;
  font-size: 1.5rem;
  padding: 20px 0px;
}

.price {
  font-size: 1.2rem;
  color: #969696;
  font-family: 'raleway';
  padding: 20px 0px;
}

.main-carousel {
  height: 60%;
  padding: 0;
}

.carousel-cell {
  width: 100%;
  text-align: center;  
}

.carousel-cell img{
  height: 400px;
}

.flickity-prev-next-button {
  display: none;
}

.flickity-page-dots {
  bottom: -90px
}

.flickity-page-dots .dot {
  background: rgb(105, 105, 105);
  opacity: 1;
}

.flickity-page-dots .dot.is-selected {
  background: black;
}

.sign_up {
  background-image: url(../images/wave-bkgd.jpg);
  color: white;
  height: 425px;
  background-position: right bottom;
  background-size: 1800px;
  position: relative;
  font-family: 'raleway';
  font-weight: lighter;
  display: flex;
  text-align: center;
  flex-flow: column wrap;
  margin-bottom: 10px;
}

.sign_up h2{
  padding: 55px 0px;
}

.sign_up p {
  line-height: 2em;
  font-size: 1.2rem;
  color: white;
  padding-bottom: 30px;
}

.subscribe-button {
  justify-content: center;  
  display: flex;
  text-align: center;
  flex-flow: column wrap;
  width: 80%;
  align-items: center;
  margin: auto;
}

input[type="email"] {
  color: #969696;
  padding: 20px 210px 20px 20px;
  border: 1px solid #d7d7d7;
  border-radius: 30px;
  font-size: 18px;
  font-family: 'raleway';
  font-weight: lighter;
  width: 103%
}

button {
  border: 0;
  background-color: #e2574c;
  color: white;
  font-size: 18px;
  font-family: 'raleway';
  font-weight: lighter;
  padding: 15px 15px;
  border-radius: 30px;
  width: 8em;
  position: absolute;
  align-self: flex-end;
}

#email:focus {
  outline:0 !important;
}

button:focus {
  outline:0 !important;
}

footer {
  background-color: #242424;
  margin-top: 10px;
  height: 330px;
  width: 100%;
}

.contact-info {
  color: white;
  line-height: 1.5em;
  font-family: 'playfairdisplay';
  font-size: 18px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding-top: 50px;
}

.contact{
  padding: 10px 0px;
}

.contact-info a{
  color: white;
}

.contact-info a:hover{
  color: #b64036;
}

.address{
  color: #969696;
}

.social-media {
  line-height: 2em;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-media li {
  width: 40px;
  height: 40px;
  text-align: center;
}

.hide {
  visibility: hidden;
}

.social-media a{
  text-decoration: none;
  color: white;
}

.social-media a:hover{
  color: #b64036;
}

@media all and (min-width: 600px) {
  h2 {
    font-size: 2.5rem;
  }

  .header-pics{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 85px;
    align-items: center;    
  }

  .header-pics img {
    height: 50px;
  }

  .header-menu{
    height: 85px;
    align-items: center;
    width: 70%;
    border: none;
  }

  header ul li {
  padding: 0 .4rem;
  }

  .hero {
    height: 400px;
    background-position: 0px, center 62px, 293px 0px;
    background-size: auto auto, auto 370px, auto 410px;
  }

  .hero h3{
    font-size: 1.2rem;
  }
  
  .hero h1{
    margin-top: 1rem;
  }

  .tag{
    height: 300px;
  }

  .tag h2{
    font-size: 2.6rem;
  }

  .tag p{
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
  }

  .category-box li{
    flex: 0 0 25%;
    padding: 12% 0;
  }

  .category-box .rectangle {
   flex: 0 0 50%
  }

  #featured{
    height: 660px;
  }

  .main-carousel {
    height: 53%;
  }

  .carousel-cell{
    width: 50%;
  }

  .carousel-cell img {
    height: 230px;
  }

  .category{
    font-size: 0.8rem;
  }

  .name{
    width: 75%;
    position: relative;
    left: 13%;
  }

  .name a{
    font-size: 1.5rem;
  }

  .price{
    font-size: 0.8rem;
    font-weight: lighter;
  }

  .subscribe-button{
    width: 435px;
    margin: 20px auto;
  }

  .sign_up {
    height: 375px;
    background-position: right bottom;
    background-size: 1600px;
  }

  .sign_up h2{
    padding: 65px 0 20px 0;
  }

  .sign_up p{
    width: 92%;
    align-self: center;
    padding-bottom: 0;
  }
  
  input[type="email"] {
    width: 103%;
    padding: 15px;
  }

  button {
    padding: 12px 20px;
  }

  footer {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 245px;
  }

  .contact-info{
    text-align: left;
    align-self: center;
    padding: 10px;
    line-height: 1.3em;
  }

 .social-media{
    line-height: 2em;
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: flex-start;
    width: 145px;
 }

 .social-media li {
  width: auto;
  height: auto;
  text-align: center;
}

  .hide {
    visibility: visible;
  }
}


@media all and (min-width: 1240px) {

  .carousel-cell{
    width: 25%;
  }
}
