@font-face {
  font-family: 'playfairdisplay';
  src: url('../fonts/playfairdisplay-bold-webfont.eot');
  src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
    url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
    url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'playfairdisplay';
  src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
  src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
    url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'playfairdisplay';
  src: url('../fonts/playfairdisplay-italic-webfont.eot');
  src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
    url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
    url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'playfairdisplay';
  src: url('../fonts/playfairdisplay-regular-webfont.eot');
  src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
    url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
    url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-light-webfont.eot');
  src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-light-webfont.woff') format('woff'),
    url('../fonts/raleway-light-webfont.ttf') format('truetype'),
    url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-lightitalic-webfont.eot');
  src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
    url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
    url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-medium-webfont.eot');
  src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-medium-webfont.woff') format('woff'),
    url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
    url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-mediumitalic-webfont.eot');
  src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
    url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
    url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@-ms-viewport{
  width: device-width;
}

*{
  box-sizing: border-box;
  font-size: 14px;
}

p{
  font-family: 'raleway';
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.header-pics img {
  height: 4rem;
  padding: 0rem .6rem;
}

.header-pics {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0.8rem 0;
  width: 100%;
}

.screen-reader-text {
   clip: rect(10px, 10px, 10px, 10px);
   position: absolute !important;
   height: 10px;
   width: 10px;
   overflow: hidden;
}

#main[tabindex="-1"]:focus  {
   outline: 0;
}

.header-menu {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex: 1 2 90%;
      flex: 1 2 90%;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'raleway';
  font-size: 1rem;
  word-spacing: -.25rem;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  z-index: 1000;
}

.nav ul{
  padding-left: none;
}

.nav {
  border-top: 2px solid #d7d7d7; 
  width: 100%;
  padding: 1rem 0;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  word-spacing: 1rem;   
}

header a{
  color: #e2574c;
  text-decoration: none;
}

header a:hover {
  color: #b64036;
}

header ul li {
  display: inline-block;
  padding: 0 0.5rem;
}

.container{
  margin: 0 auto;
}

.hero {
  display: -ms-flexbox;
  display: flex;
  height: 30.2rem;
  background-image: linear-gradient(rgba(0,130,127,.3),rgba(0,130,170,.15)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 0, center 5rem, 97.9rem 0rem;
  background-size: auto auto, auto 30rem, auto 34.81rem;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;  
  margin-top: 9rem;
}

.hero h3 {
  color: white;
  font-family: "raleway";
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px #969696;
}

.hero h1 {
  color: white;
  font-family: 'playfairdisplay';
  font-weight: lighter;
  font-size: 2.7rem;
  text-align: center;
  padding: 2rem 0rem;
  text-shadow: 1px 1px 2px #2d2d2d;
}

h2 {
  font-family: 'playfairdisplay';
  font-size: 2.7rem;
  text-align: center;
  font-weight: normal;
}

.tag {
  text-align: center;
  line-height: 2.5rem;
  height: 20rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.tag h2 {
  padding-bottom: 2rem;
}

.tag p{
  font-size: 1.3rem;
  font-weight: lighter;
}

.category-box ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.category-box li{
  text-align: center;
  font-family: 'raleway';
  font-weight: bold;
  font-size: 1.7rem;
  width: 50%;
  border: white .26rem solid;
  background-repeat: no-repeat;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  background-size: 100% auto;
  background-position: center;
  height: 0;
  padding: 25% 0;
  text-shadow: 2px 2px 4px grey;  
}

.category-box a{
  color: white;
  text-decoration: none;
}

.category-box .rectangle {
  width: 100%;
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
}

li.mens {
  background-image: url(../images/mens-category.jpg);
  border-left-style: hidden;
  border-right-style: hidden;
}

li.trends {
  background-image: url(../images/trends-category.jpg);
  border-left-style: hidden;
}

li.glasses {
  background-image: url(../images/glasses-category.jpg);
  border-right-style: hidden;
}

li.sale {
  background-image: url(../images/sale-category.jpg);
  border-left-style: hidden;
}

li.bags{
  background-image: url(../images/bags-category.jpg);
  border-right-style: hidden;
}

li.womens {
  background-image: url(../images/womens-category.jpg);
  border-left-style: hidden;
  border-right-style: hidden;
}

#featured {
  height: 50rem;
}

#featured h2 {
  margin: 4rem 0;
  font-weight: lighter;
}

.category {
  padding: 0.75rem 0rem 0.9rem 0;
  font-size: 0.8rem;
  color: #969696;
  font-family: 'raleway';
  font-weight: bold;
}

.name a{
  color: #e2574c;
  font-family: "playfairdisplay";
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.7rem;
  padding: 1.25rem 0rem;
}

.name a:hover{
  color: #b64036;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #969696;
  font-family: 'raleway';
  padding: 1.5rem 0rem;
}

.main-carousel {
  height: 60%;
  padding: 0;
}

.carousel-cell {
  width: 100%;
  text-align: center;  
}

.carousel-cell img{
  height: 25rem;
}

.flickity-prev-next-button {
  display: none;
}

.flickity-page-dots {
  bottom: -5.63rem;
}

.flickity-page-dots .dot {
  background: rgb(105, 105, 105);
  opacity: 1;
  margin: 0 6px;
}

.flickity-page-dots .dot.is-selected {
  background: black;
}

.sign-up{
  background-image: linear-gradient(rgba(185,199,199,0.6),rgba(139,208,255,.3)), url(../images/wave-bkgd.jpg);
  color: white;
  height: 26.5rem;
  background-position: 0, right bottom;
  background-size: auto, 90.5rem;
}

.sign-up {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  margin-bottom: 0.625rem;
  height: 26.5rem;
}

.sign-up h2{
  padding: 3rem 0rem;
  text-shadow: 1px 1px 2px #969696;  
  width: 100%;
}

.sign-up p {
  line-height: 2rem;
  font-size: 1.2rem;
  color: white;
  padding-bottom: 0.5rem;
  width: 99%;
}

.subscribe-button {
  -ms-flex-pack: center;
      justify-content: center;  
  display: -ms-flexbox;  
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  width: 80%;
  -ms-flex-align: center;
      align-items: center;
  margin: auto;
}

input[type="email"]:focus{
  box-shadow: 1px 1px 10px 1px #b64036;
}

input[type="email"] {
  color: #969696;
  padding: 1rem 2rem;
  border: 1px solid #d7d7d7;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: 'raleway';
  width: 103%
}

button {
  border: 0;
  background-color: #e2574c;
  color: white;
  font-size: 1.125rem;
  font-family: 'raleway';
  border-radius: 1.875rem;
  width: 8rem;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.7rem 0.8rem;
}

#email:focus {
  outline:0 !important;
}

button:focus {
  outline:0 !important;
}

footer {
  background-color: #242424;
  margin-top: .625rem;
  height: 20.63rem;
}

.footer {
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  text-align: center;
}

.contact-info p {
  font-family: 'playfairdisplay';  
}

.contact{
  padding: .625rem 0rem;
}

.contact-info{
    line-height: 1.3rem;
    padding: 3rem 0;
  }

.contact-info a{
  color: white;
}

.contact-info a:hover{
  color: #b64036;
}

.address{
  color: #969696;
}

.social-media {
  line-height: 2rem;
  font-size: 1.125rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  font-family: "raleway";
}

.social-media li {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.hide {
  visibility: hidden;
}

.social-media a{
  text-decoration: none;
  color: white;
}

.social-media a:hover{
  color: #b64036;
}

@media all and (min-width: 600px) {
  *{
    font-size: 16px;
  }

  .container{
    width: 95%;
  }

  h2 {
    font-size: 2.5rem;
  }
  
  .header-pics{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5.31rem;
    -ms-flex-align: center;
        align-items: center;    
    padding: 2rem 0;
  }

  .header-pics img {
    height: 3.125rem;
  }

  .header-menu{
    height: 5.31rem;
    -ms-flex-align: center;
        align-items: center;
    font-size: .9rem;
    font-weight: bold;
    width: 100%;
  }

  .nav{
    border: none;    
  }

  header ul li {
  padding: 0 .4rem;
  }

  .hero {
    margin-top: 5.3rem;
    height: 25rem;
    background-position: 0rem, center 3.88rem, 18.31rem 0rem;
    background-size: auto auto, auto 23.1rem, auto 25.6rem;
  }

  .hero h3{
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: bold;
  }

  .tag{
    height: 18.8rem;
  }

  .tag h2{
    font-size: 2.6rem;
  }

  .tag p{
    font-size: 1.2rem;
    margin: 0 auto;
  }

  .category-box li{
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    padding: 12% 0;
  }

  .category-box .rectangle {
   -ms-flex: 0 0 50%;
       flex: 0 0 50%;
  }

  li.mens {
  background-image: url(../images/mens-category.jpg);
  border-right-style: solid;
  border-top-style: solid;
  }

  li.trends {
    background-image: url(../images/trends-category.jpg);
    border-left-style: solid;
    border-top-style: solid;
  }

  li.glasses{
    border-top-style: solid;
  }

  li.bags{
    background-image: url(../images/bags-category.jpg);
    border-right-style: solid;
    border-bottom-style: solid;
  }

  li.sale{
    border-bottom-style: solid;  
  }

  li.womens {
    background-image: url(../images/womens-category.jpg);
    border-left-style: solid;
    border-bottom-style: solid;  
  }

  #featured{
    height: 41.25rem;
  }

  .main-carousel {
    height: 53%;
  }

  .carousel-cell{
    width: 50%;
  }

  .carousel-cell img {
    height: 14.4rem;
  }

  .category{
    font-size: 0.8rem;
  }

  .name{
    width: 75%;
    position: relative;
    left: 13%;
  }

  .name a{
    font-size: 1.5rem;
  }

  .price{
    font-size: 0.8rem;
    font-weight: bold;
  }

  .subscribe-button{
    width: 23.5rem;
    margin: 1.25rem auto;
  }

  .sign-up{
    height: 23.4rem;    
  }

  .sign-up {
    background-position: right bottom;
    background-size: 100rem;
  }

  .sign-up h2{
    padding: 4rem 0 1.25rem 0;
  }

  .sign-up p{
    width: 92%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1rem 0;
  }
  
  input[type="email"] {
    width: 103%;
    padding: 1rem 0 1rem 1.5rem;
  }

  button {
    font-size: 1rem;
    font-weight: bold;
  }

  .footer {
    -ms-flex-pack: center;
        justify-content: center;
    height: 21rem;
    width: 95%;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
  }
  
  .contact-info{
    text-align: left;
    line-height: 1.3rem;
    font-size: 1rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

 .social-media{
    line-height: 2rem;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 1rem;
 }

 .social-media li {
    width: auto;
    text-align: left;
  }

  .hide {
    visibility: visible;
  }
}

@media all and (min-width: 1240px) {
  .container{
    max-width: 1240px;
    margin: 0 auto;
  }
  
  .nav{
    word-spacing: 1rem;
  }
  
  .header-pics img {
    height: 3.5em;
  }

  .header-menu{
    font-size: 1.2rem;
    width: 100%;
  }

  .hero {
    height: 33rem;
    background-position: 0rem, center 2.88rem, 18.31rem 0rem;
    background-size: auto auto, auto 36rem, auto 33rem;
  }

  .hero h1{
    font-size: 4rem;
  }

  .tag{
    height: 16rem;
  }

  .tag p{
    width: 50%;
  }

  #featured{
    height: 39rem;
  }

  #featured h2{
    padding: 4rem 0;
  }

  .carousel-cell{
    width: 25%;
  }

  .price {
  font-size: 0.9rem;
  }

  .sign-up{
    height: 20.5rem;    
  }

  .sign-up{
    background-size: 90rem;
    margin-bottom: 0.5rem;
  }

  .sign-up h2{
    font-size: 2.2rem;
  }

  .sign-up p {
    width: 55.5%;
    padding: 0.5rem 0;
  }

  .subscribe-button{
    width: 26.5rem;
  }

  input[type="email"] {
    font-size: 1rem;
  }

  footer{
    height: 17.5rem;
  }

  .footer{
    height: 17.5rem;
  }

  .contact-info {
    line-height: 1.5rem;
  }

  .social-media{
    line-height: 1.9rem;
  }

}
